$MainThemeColor: orange;
$SmallFont: 13px;
$full : 100%;



body{
    background-color:rgb(238, 238, 238);
    padding:0;
    margin:0;
  
   
}

.section-top{

    .header-top{
        width:100%;
        height:30px;
        border-bottom:1px solid rgb(207, 200, 200);
       font-size:$SmallFont;
        background-color:rgb(248, 247, 246);
        display:flex;
        color:black;
        justify-content: space-around;

          .top-mail{
            padding-top:5px;
            padding-bottom:5px;
    
              padding-right:5px;
              border-right:1px solid rgb(207, 200, 200);
          }
          .number-social-icons{
              width:50%;
              display:flex;
              justify-content: space-between;
              padding-top:5px;
             padding-bottom:5px;
              padding-right:5px;
              border-right:1px solid rgb(207, 200, 200);
          }
          .lang-top{
            padding-top:5px;
            padding-bottom:5px;
             padding-right:5px;
             border-right:1px solid rgb(207, 200, 200);
               span{
                   margin-right:20px
               }
          }
          .login-top{
            padding-top:5px;
            padding-bottom:5px;
             padding-right:5px;
          }
    }
    //styles for the secondary menu

    .header-medium{
        width:$full;
        height:40px;
        background-color:rgb(248, 246, 244);
        padding:30px;
        .header-Medium-cnt{

            .logo span{
                font-size:20px;
                color:$MainThemeColor;
                padding:10px;
    
    
            }


            width:80%;
            margin: 0 auto;
            display:flex;
            justify-content: space-between;

            .select-search-section{
                width:50%;
                height:30px;
                border:1px solid gray;
                display:flex;
            }
            .medium-dropdow-list{
                display:none;
            }
           .select-categories{
               width:25%;
               height:100%;
               padding:5px;
           }
           .search-bar{
               width:65%;
               height:100%;
               border-left:1px solid gray;
               
           }

           .search-button-icon{
               border-left:1px solid gray;
               padding:5px;
               .fa-search{
                     margin: 0 auto
               }


           }
            .shoping-cart-top{
                 
                span{
                    margin-right:5px;
                }
            }
        }
     
    }

    //styles for the main menu

    .header-main-menu{
        width:100%;
        height:50px;
        background-color:rgb(0, 0, 0)

    }
}