$MainThemeColor:rgb(255, 136, 0);
$SmallFont: 13px;
$bigFont:17px;

$full : 100%;



body{
    background-color:rgb(255, 255, 255);
    padding:0;
    margin:0;
  
   
}

.section-top{

    .header-top{
        width:100%;
        height:30px;
        border-bottom:1px solid rgb(207, 200, 200);
       font-size:$SmallFont;
        background-color:rgb(248, 247, 246);
        display:flex;
        color:black;
        justify-content: space-around;

          .top-mail{
            padding-top:5px;
            padding-bottom:5px;
    
              padding-right:5px;
              border-right:1px solid rgb(207, 200, 200);
          }
          .number-social-icons{
              width:50%;
              display:flex;
              justify-content: space-between;
              padding-top:5px;
             padding-bottom:5px;
              padding-right:5px;
              border-right:1px solid rgb(207, 200, 200);
          }
          .lang-top{
            padding-top:5px;
            padding-bottom:5px;
             padding-right:5px;
             border-right:1px solid rgb(207, 200, 200);
               span{
                   margin-right:20px
               }
          }
          .login-top{
            padding-top:5px;
            padding-bottom:5px;
             padding-right:5px;
          }
    }
    //styles for the secondary menu

    .header-medium{
        //width:$full;
        height:40px;
        background-color:rgb(248, 246, 244);
        padding:30px;
        .header-Medium-cnt{

            .logo span{
                font-size:20px;
                color:$MainThemeColor;
                padding:10px;
    
    
            }


            width:80%;
            margin: 0 auto;
            display:flex;
            justify-content: space-between;

            .select-search-section{
                width:50%;
                height:30px;
                border:1px solid gray;
                display:flex;
            }
            .medium-dropdow-list{
                display:none;
            }
           .select-categories{
               width:25%;
               height:100%;
               padding:5px;
           }
           .search-bar{
               width:65%;
               height:100%;
               border-left:1px solid gray;
               
           }

           .search-button-icon{
               border-left:1px solid gray;
               padding:5px;
               .fa-search{
                     margin: 0 auto
               }


           }
            .shoping-cart-top{
                 
                span{
                    margin-right:5px;
                }
            }
        }
     
    }

    //styles for the main menu

    .header-main-menu{
        //width:100%;
        height:50px;
        padding:10px;
        background-color:rgba(0, 0, 0,0.9);
    .main-menu{

        width:80%;
        margin:0 auto;
        ul{
            display:flex;
            height:40px;
            width:$full;
            color:white;
            font-size:$bigFont;

            .fa-bars{
                 font-size:20px;
            }
            li{ 
                border-right:1px solid gray;
                width:15%;
                padding:5px;
                list-style: none;
                font-size: 15px;
            }
        }
        ul li:first-child{
            width:250px;
            font-size: 15px;
            .fa-bars{
                margin-right:10px
            }
            .fa-chevron-down{
                margin-left:10px;
            }
            

        }
    }
       

    }

    .slider-home{
        width:100%;
        height:600px;
        background-color:rgb(255, 255, 255);
        background-image:url('../images/banner/banner3.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        position:relative;

        .banner-content-text{
            h5{
                color:red
            }

            p{
                width:45%;
                font-size:$bigFont
            }
            width:80%;
            position:absolute;
            margin: 0 auto;
            bottom:200px;
            margin-left:180px;
            button{
                width:200px;
                height:50px;
                border:1px solid gray;
                background-color:rgb(255, 136, 0);
                color:white;
            }

        }
    }
}