body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.section-top .header-top {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #cfc8c8;
  font-size: 13px;
  background-color: #f8f7f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-top .header-top .top-mail {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .number-social-icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .lang-top {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .lang-top span {
  margin-right: 20px;
}

.section-top .header-top .login-top {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.section-top .header-medium {
  height: 40px;
  background-color: #f8f6f4;
  padding: 30px;
}

.section-top .header-medium .header-Medium-cnt {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-top .header-medium .header-Medium-cnt .logo span {
  font-size: 20px;
  color: #ff8800;
  padding: 10px;
}

.section-top .header-medium .header-Medium-cnt .select-search-section {
  width: 50%;
  height: 30px;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-top .header-medium .header-Medium-cnt .medium-dropdow-list {
  display: none;
}

.section-top .header-medium .header-Medium-cnt .select-categories {
  width: 25%;
  height: 100%;
  padding: 5px;
}

.section-top .header-medium .header-Medium-cnt .search-bar {
  width: 65%;
  height: 100%;
  border-left: 1px solid gray;
}

.section-top .header-medium .header-Medium-cnt .search-button-icon {
  border-left: 1px solid gray;
  padding: 5px;
}

.section-top .header-medium .header-Medium-cnt .search-button-icon .fa-search {
  margin: 0 auto;
}

.section-top .header-medium .header-Medium-cnt .shoping-cart-top span {
  margin-right: 5px;
}

.section-top .header-main-menu {
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

.section-top .header-main-menu .main-menu {
  width: 80%;
  margin: 0 auto;
}

.section-top .header-main-menu .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  color: white;
  font-size: 17px;
}

.section-top .header-main-menu .main-menu ul .fa-bars {
  font-size: 20px;
}

.section-top .header-main-menu .main-menu ul li {
  border-right: 1px solid gray;
  width: 15%;
  padding: 5px;
  list-style: none;
  font-size: 15px;
}

.section-top .header-main-menu .main-menu ul li:first-child {
  width: 250px;
  font-size: 15px;
}

.section-top .header-main-menu .main-menu ul li:first-child .fa-bars {
  margin-right: 10px;
}

.section-top .header-main-menu .main-menu ul li:first-child .fa-chevron-down {
  margin-left: 10px;
}

.section-top .slider-home {
  width: 100%;
  height: 600px;
  background-color: white;
  background-image: url("../images/banner/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-top .slider-home .banner-content-text {
  width: 80%;
  position: absolute;
  margin: 0 auto;
  bottom: 200px;
  margin-left: 180px;
}

.section-top .slider-home .banner-content-text h5 {
  color: red;
}

.section-top .slider-home .banner-content-text p {
  width: 45%;
  font-size: 17px;
}

.section-top .slider-home .banner-content-text button {
  width: 200px;
  height: 50px;
  border: 1px solid gray;
  background-color: #ff8800;
  color: white;
}

.fields-service-section {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */