body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.section-top .header-top {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #cfc8c8;
  font-size: 13px;
  background-color: #f8f7f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-top .header-top .top-mail {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .number-social-icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .lang-top {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .lang-top span {
  margin-right: 20px;
}

.section-top .header-top .login-top {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.section-top .header-medium {
  height: 65px;
  background-color: #e7e7e7;
  padding: 30px;
}

.section-top .header-medium .header-Medium-cnt {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-top .header-medium .header-Medium-cnt .logo span {
  font-size: 27px;
  color: #ff8800;
  padding: 10px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section-top .header-medium .header-Medium-cnt .select-search-section {
  width: 50%;
  height: 30px;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-top .header-medium .header-Medium-cnt .medium-dropdow-list {
  display: none;
}

.section-top .header-medium .header-Medium-cnt .select-categories {
  width: 25%;
  height: 100%;
  padding: 5px;
}

.section-top .header-medium .header-Medium-cnt .search-bar {
  width: 65%;
  height: 100%;
  border-left: 1px solid gray;
}

.section-top .header-medium .header-Medium-cnt .search-button-icon {
  border-left: 1px solid gray;
  padding: 5px;
}

.section-top .header-medium .header-Medium-cnt .search-button-icon .fa-search {
  margin: 0 auto;
}

.section-top .header-medium .header-Medium-cnt .shoping-cart-top span {
  margin-right: 5px;
}

.section-top .header-main-menu {
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

.section-top .header-main-menu .main-menu {
  width: 80%;
  margin: 0 auto;
}

.section-top .header-main-menu .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  color: white;
  font-size: 17px;
}

.section-top .header-main-menu .main-menu ul .fa-bars {
  font-size: 20px;
}

.section-top .header-main-menu .main-menu ul li {
  border-right: 1px solid gray;
  width: 15%;
  padding: 5px;
  list-style: none;
  font-size: 15px;
}

.section-top .header-main-menu .main-menu ul li:first-child {
  width: 250px;
  font-size: 15px;
}

.section-top .header-main-menu .main-menu ul li:first-child .fa-bars {
  margin-right: 10px;
}

.section-top .header-main-menu .main-menu ul li:first-child .fa-chevron-down {
  margin-left: 10px;
}

.section-top .slider-home {
  width: 100%;
  height: 600px;
  background-color: white;
  background-image: url("../images/banner/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-top .slider-home .banner-content-text {
  width: 80%;
  position: absolute;
  margin: 0 auto;
  bottom: 200px;
  margin-left: 180px;
}

.section-top .slider-home .banner-content-text h5 {
  color: red;
}

.section-top .slider-home .banner-content-text p {
  width: 45%;
  font-size: 17px;
}

.section-top .slider-home .banner-content-text button {
  width: 200px;
  height: 50px;
  border: 1px solid gray;
  background-color: #ff8800;
  color: white;
}

.fields-service-section {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.field-service {
  margin-top: 20px;
  width: 30%;
  height: auto;
  padding: 10px;
  background-color: #ff8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field-service .field-elem {
  margin: 10px;
}

.field-service .field-icon img {
  width: 100px;
  height: 100px;
}

.divider-line {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  height: 40px;
  background-color: black;
}

.divider-line .product-tab-title {
  width: 200px;
  margin: 0 auto;
  color: white;
  max-height: 30px;
  padding: 5px;
}

.divider-line h4 {
  margin: 10px;
}

.divider-line .fa-sort-down {
  font-size: 80px;
  margin-top: -100px;
  color: black;
}

.top-products-hp {
  width: 80%;
  padding-top: 20px;
  background-color: #fffbef;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-item {
  border: 1px solid gray;
  margin: 2px;
  width: 45%;
  height: auto;
  background-color: #dbdbdb;
}

.product-item .item-image img {
  max-width: 100%;
  height: 300px;
}

.product-item .button-products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.product-item .button-products-item button {
  width: 45%;
  height: 40px;
  background-color: black;
  border: none;
  outline: none;
  color: white;
}

.product-item .product-short-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background-color: #ff8800;
}

.product-item .product-short-info .product-title {
  font-size: 17px;
  font-weight: 400;
}

.product-item .product-short-info .fas {
  font-size: 10px;
  color: yellow;
}

.responsive-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.features-highlights-section {
  margin-top: 50px;
}

.features-highlights {
  width: 100%;
  height: 700px;
  background-image: url("../images/banner/features_highlights.jpeg");
  background-size: cover;
  background-position: bottom;
}

.feature-element-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  margin: 0 auto;
}

.feature-element-icon:hover {
  background-color: #ff8800;
  color: white;
}

.icon-feature-items {
  font-size: 35px;
  margin-top: 30%;
  color: gray;
}

.feature-element {
  margin-top: 50px;
  width: 20%;
  color: white;
  text-align: center;
}

.feature-element p {
  color: white;
  font-weight: 600;
}

.feature-element h3 {
  color: white;
}

.features-elements-container {
  background-color: #444444b2;
  height: 670px;
  width: 100%;
  padding-top: 30px;
}

.features-elements-container h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 25px;
}

.features-elements-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */