$MainThemeColor:rgb(255, 136, 0);
//rgb(255, 136, 0);
$SmallFont: 13px;
$bigFont:17px;

$full : 100%;



body{
    background-color:rgb(255, 255, 255);
    padding:0;
    margin:0;
  
   
}

.displayBlock{
    display:block;
}
*button:hover{
    background-color:$MainThemeColor;
    cursor:pointer; 
}
  
.section-top{

    .header-top{
        width:100%;
        height:40px;
        border-bottom:1px solid rgb(207, 200, 200);
       font-size:$SmallFont;
        background-color:rgb(223, 223, 223);
        display:flex;
        color:black;
        justify-content: space-around;

          .top-mail{
            padding-top:5px;
            padding-bottom:5px;
    
              padding-right:5px;
              border-right:1px solid rgb(207, 200, 200);
          }
          .number-social-icons{
              width:50%;
              display:flex;
              justify-content: space-between;
              padding-top:5px;
             padding-bottom:5px;
              padding-right:5px;
              border-right:1px solid rgb(207, 200, 200);
          }
          .lang-top{
            padding-top:5px;
            padding-bottom:5px;
             padding-right:5px;
             border-right:1px solid rgb(207, 200, 200);
               span{
                   margin-right:20px
               }
          }
          .login-top{
            padding-top:5px;
            padding-bottom:5px;
             padding-right:5px;
          }
    }
    //styles for the secondary menu

    .header-medium{
        //width:$full;
        height:65px;
        background-color:rgb(255, 255, 255);
        padding:30px;
        .header-Medium-cnt{

            .logo span{
                font-size:27px;
                color:$MainThemeColor;
                padding:10px;
                font-weight: 600;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
            }


            width:80%;
            margin: 0 auto;
            display:flex;
            justify-content: space-between;

            .select-search-section{
                width:50%;
                height:30px;
                border:1px solid gray;
                display:flex;
            }
            .medium-dropdow-list{
                display:none;
            }
           .select-categories{
               width:25%;
               height:100%;
               padding:5px;
           }
           .search-bar{
               width:65%;
               height:100%;
               border-left:1px solid gray;
               
           }

           .search-button-icon{
               border-left:1px solid gray;
               padding:5px;
               .fa-search{
                     margin: 0 auto
               }


           }
            .shoping-cart-top{
                 
                span{
                    margin-right:5px;
                }
            }
        }
     
    }

    //styles for the main menu

    .header-main-menu{
        //width:100%;
        height:50px;
        padding:10px;
        background-color:rgba(0, 0, 0,0.9);
    .main-menu{

        width:80%;
        margin:0 auto;
        ul{
            display:flex;
            height:40px;
            width:$full;
            color:white;
            font-size:$bigFont;

            .fa-bars{
                 font-size:20px;
            }
            li{ 
                border-right:1px solid gray;
                width:15%;
                padding:5px;
                list-style: none;
                font-size: 15px;
            }
        }
        ul li:first-child{
            width:250px;
            font-size: 15px;
            .fa-bars{
                margin-right:10px
            }
            .fa-chevron-down{
                margin-left:10px;
            }
            

        }
    }
       

    }

    .slider-home{
        width:100%;
        height:600px;
        background-color:rgb(255, 255, 255);
        background-image:url('../images/banner/banner3.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        position:relative;

        .banner-content-text{
            h5{
                color:red
            }

            p{
                width:45%;
                font-size:$bigFont
            }
            width:80%;
            position:absolute;
            margin: 0 auto;
            bottom:200px;
            margin-left:180px;
            button{
                width:200px;
                height:50px;
                border:1px solid gray;
                background-color:$MainThemeColor;
                color:white;
            }

        }
    }
}


.fields-service-section{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;

}

.field-service{
    margin-top:20px;

    width:30%;
    height:auto;
    padding:10px;
    background-color:$MainThemeColor;
    display:flex;
    
    .field-elem{
        margin:10px;

    }


    .field-icon{
             img{
                 width:100px;
                 height:100px;
             }
    }
    
}
.divider-line{
    width:100%;
    text-align:center;
    margin-top:30px;
    height:40px;
    background-color:black;

    .product-tab-title{
           width:200px;
           margin:0 auto;
           color:white;
           max-height:30px;
           padding:5px
          
          
    }
    h4{
        margin:10px;
    }

    .fa-sort-down{
        
        font-size:80px;
        margin-top:-100px;
        color:black;
       
    }
   
}
.top-products-hp{
    //margin-top:20px;
    width:80%;
    padding-top:20px;
    background-color: rgb(255, 251, 239);
    margin:0 auto;
    display:flex;
}

.product-item{
    border:1px solid gray;
    margin:2px;
  width:250px;
  height:auto;
  background-color:rgb(219, 219, 219);



    .item-image{
        img{
            max-width:100%;
            height:300px;
        }
    }
    .button-products-item{

        display: flex;
        justify-content: space-between;
        margin-bottom:5px;
        button{
            width:45%;
            height:40px;
            background-color:rgb(0, 0, 0);
           
            border:none;
            outline:none;
            color:white
            
        }
    }
   
    .product-short-info{
        display:flex;
        justify-content: space-between;
        padding:5px;
        background-color:$MainThemeColor;

        .product-title{
            font-size:17px;
            font-weight:400;
        }

        .fas{
            font-size:10px;
            color:yellow
        }
    }
}
.responsive-product-list{
    display:flex;
    justify-content: space-around;
    width:50%
}
.features-highlights-section{
    margin-top:50px;
}

.features-highlights{
    width:100%;
    height:700px;
    background-image:url('../images/banner/features_highlights.jpeg');
    background-size:cover;
    background-position:bottom;
    
    
}

.feature-element-icon{
    width:80px;
    height:80px;
border-radius:50%;
    background-color:rgb(0, 0, 0);
    text-align:center;
    margin:0 auto;

}
.feature-element-icon:hover{
    background-color:$MainThemeColor;
    color:white;

}
.icon-feature-items{
    font-size:35px;
    margin-top:30%;
    color:gray
    
}

.feature-element{
    margin-top:50px;
    width:20%;
    color:white;
    text-align:center;
    p{
        color:white;
        font-weight: 600;
    }
    h3{
        color:white
    }
}
.features-elements-container{
   background-color:#444444b2;
   height:670px;
   width:100%;
   padding-top:30px;
     h1{
         text-align:center;
          color:white;
          font-size:30px;
         margin-bottom:25px;
     }
}
.features-elements-row{
    display:flex;
    width:80%;
    margin:0 auto;
    justify-content: space-around;
}

.stylishh1{
    text-align:center;
    font-weight:200;
    color:rgb(107, 107, 107);
    padding:20px;
}
.style-products-section{
    //background-color:rgb(223, 221, 221);
    width:$full;
    margin-top:20px;
    .style-products{
           width:96%;
           margin:0 auto;
           display:flex;
           justify-content: space-around;
           
           .style-products-item{
               width:23%;
               position:relative;

               img{
                   max-width:100%;
               }
               ul{
                   position:absolute;
                   top:0;
                   margin-top:40px;
                   right:0;
                   list-style: none;
                   padding:5px;
                   background-color:rgb(255, 255, 255);
                    display:none;

                   li{
                       margin-bottom:30px;
                       padding-left:10px;
                       padding-right:10px;
                   }
               }

               .name-price-like-heart{
                   display:flex;
                   justify-content: space-between;


                .name-price{
                      h4{
                          margin:3px;
                      }
                      .price-value{
                         
                      }
                      .price-value-borrow{
                          text-decoration:line-through;
                          color:rgb(150, 150, 150)
                      }
                }
                .fa-heart{
                   color:red;
                   font-size:20px;
                }
               }
               .stylish-creation-title{
                   margin-top:10px;
                   font-weight: 200;
                   font-size:18px;
                   color:rgb(126, 126, 126)
               }


               .style-products-item-top{
                   position:absolute;
                   top:0;
                   display:flex;
                   justify-content: space-between;
                   width:100%;
                   margin-top:-20px;


                   .feature-round{
                       width:40px;
                       height:40px;
                       border-radius:50%;
                       padding:10px;
                      text-align:center;
                    

                   }

                 .feature-round2{
                    width:80px;
                    height:30px;
                    padding:5px;
                   text-align:center;
                   font-size:14px
                 

                }
                     
                   .round1{
                    background-color:rgb(245, 109, 132)
                }
                .round2{
                    background-color:rgb(0, 0, 0);
                    color:white;
                }
               }
           }



    }
}

.bottom-featured-products{
    .responsive-product-list2{
        max-width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        /* display: flex; */
        margin: 0 auto; 
        overflow-x: scroll;
        /* white-space: nowrap; */
}
        .product-item02{  
              border:1px solid gray;
            margin:5px;
          width:250px;
          height:auto;
          background-color:rgb(219, 219, 219);
        
        
        
            .item-image{
                img{
                    max-width:100%;
                    height:300px;
                }
            }
            .button-products-item{
        
                display: flex;
                justify-content: space-between;
                margin-bottom:5px;
                button{
                    width:45%;
                    height:40px;
                    background-color:rgb(0, 0, 0);
                   
                    border:none;
                    outline:none;
                    color:white
                    
                }
            }
           
            .product-short-info{
                display:flex;
                justify-content: space-between;
                padding:5px;
                background-color:$MainThemeColor;
        
                .product-title{
                    font-size:17px;
                    font-weight:400;
                }
        
                .fas{
                    font-size:10px;
                    color:yellow
                }
            }

        }
    }
.video-section{
    width:100%;
}

.latest-news-home-section{
    width:100%;
    .latest-news-home{
        width:94%;
        margin:0 auto; 
        display:flex;
        justify-content:space-between;

        .latest-news-intro{
            width:22%;
            height:auto;
            border-top:1px solid gray;

            .latest-news-one{
                display:flex;
                
                 .latest-news-img{
                    width:40%;
                     height:200px;
                    img{
                        max-width:100%;
                        max-height:100%
                    }

                } 

                .latest-news-text{
                    width:60%; 
                    p{
                        font-size:15px;
                        margin:0;
                        padding:5px;

                    }
                    
                }

               
            }


        }
        button{
            width:130px;
            padding-top:15px;
            padding-bottom:15px;
            outline:none;
            background-color:black;
             border:none;
            color:white;
            font-size:15px;
            text-align:center; 
        }
    }
}


.payements-option-section{
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    height:auto;
    padding-bottom:20px;
    background-color: rgb(250, 215, 245);
}
.payement-options{
    width:90%;
    display:flex;
    margin:0 auto;
    justify-content:space-around;

    .payement-options-responsive1{
        height:95px;
        width:50%;
        background-image:url('../images/icons/payment-option1.png');
        background-size:cover;
    } 
    .payement-options-responsive2{
        height:95px;
        width:50%;
        background-image:url('../images/icons/payment-option2.png');
        background-size:cover;
    }
}




.footer-section{ 
    height:auto;
    padding:10px;
    background-color:rgb(37, 36, 36);
    color:white;


    .footer-parent{
        width:98%;
        margin:0 auto;
        display:flex;

        .footer-part{
            width:20%;
            height:300px;
            color:whitesmoke;
            text-align:left;

            .footer-headers{
                text-transform: uppercase;
                color:$MainThemeColor;

                h4{

                }
            }

           ul{
               li{
                   list-style:none;
                   margin:10px;
                   text-align:left;
                   a{
                       text-decoration:none;
                       color:white;
                       font-size:15px;
                   }
                   a:hover{
                       color:$MainThemeColor;
                    
                   }
               }
           }

           .footer-about{
               width:80%;
               margin:0 auto;
               text-align:left;
               font-size:15px;
                        

               a{
                text-decoration:none;
                color:$MainThemeColor;
                font-size:15px;
            }

           }
        }

        .social-icons-footer{

            display:flex;
            width:50%;
            justify-content: space-between;
           span{
               font-size:30px;
           }
           .a-facebook-square{
               color:blue
           }
           .fa-instagram-square{
               color:pink;

           }

           .fa-twitter-square{
               color:blue
           }
           .fa-pinterest-square{
               color:red
           }
        }
        
    }
    .copyright{
        width:100%;
        height:auto;
        background-color:$MainThemeColor;
        color:black;
        display:flex;
        justify-content: space-around;
    }
} 