body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.displayBlock {
  display: block;
}

*button:hover {
  background-color: #ff8800;
  cursor: pointer;
}

.section-top .header-top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #cfc8c8;
  font-size: 13px;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-top .header-top .top-mail {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .number-social-icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .lang-top {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-right: 1px solid #cfc8c8;
}

.section-top .header-top .lang-top span {
  margin-right: 20px;
}

.section-top .header-top .login-top {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.section-top .header-medium {
  height: 65px;
  background-color: white;
  padding: 30px;
}

.section-top .header-medium .header-Medium-cnt {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-top .header-medium .header-Medium-cnt .logo span {
  font-size: 27px;
  color: #ff8800;
  padding: 10px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section-top .header-medium .header-Medium-cnt .select-search-section {
  width: 50%;
  height: 30px;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-top .header-medium .header-Medium-cnt .medium-dropdow-list {
  display: none;
}

.section-top .header-medium .header-Medium-cnt .select-categories {
  width: 25%;
  height: 100%;
  padding: 5px;
}

.section-top .header-medium .header-Medium-cnt .search-bar {
  width: 65%;
  height: 100%;
  border-left: 1px solid gray;
}

.section-top .header-medium .header-Medium-cnt .search-button-icon {
  border-left: 1px solid gray;
  padding: 5px;
}

.section-top .header-medium .header-Medium-cnt .search-button-icon .fa-search {
  margin: 0 auto;
}

.section-top .header-medium .header-Medium-cnt .shoping-cart-top span {
  margin-right: 5px;
}

.section-top .header-main-menu {
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

.section-top .header-main-menu .main-menu {
  width: 80%;
  margin: 0 auto;
}

.section-top .header-main-menu .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  color: white;
  font-size: 17px;
}

.section-top .header-main-menu .main-menu ul .fa-bars {
  font-size: 20px;
}

.section-top .header-main-menu .main-menu ul li {
  border-right: 1px solid gray;
  width: 15%;
  padding: 5px;
  list-style: none;
  font-size: 15px;
}

.section-top .header-main-menu .main-menu ul li:first-child {
  width: 250px;
  font-size: 15px;
}

.section-top .header-main-menu .main-menu ul li:first-child .fa-bars {
  margin-right: 10px;
}

.section-top .header-main-menu .main-menu ul li:first-child .fa-chevron-down {
  margin-left: 10px;
}

.section-top .slider-home {
  width: 100%;
  height: 600px;
  background-color: white;
  background-image: url("../images/banner/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-top .slider-home .banner-content-text {
  width: 80%;
  position: absolute;
  margin: 0 auto;
  bottom: 200px;
  margin-left: 180px;
}

.section-top .slider-home .banner-content-text h5 {
  color: red;
}

.section-top .slider-home .banner-content-text p {
  width: 45%;
  font-size: 17px;
}

.section-top .slider-home .banner-content-text button {
  width: 200px;
  height: 50px;
  border: 1px solid gray;
  background-color: #ff8800;
  color: white;
}

.fields-service-section {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.field-service {
  margin-top: 20px;
  width: 30%;
  height: auto;
  padding: 10px;
  background-color: #ff8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field-service .field-elem {
  margin: 10px;
}

.field-service .field-icon img {
  width: 100px;
  height: 100px;
}

.divider-line {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  height: 40px;
  background-color: black;
}

.divider-line .product-tab-title {
  width: 200px;
  margin: 0 auto;
  color: white;
  max-height: 30px;
  padding: 5px;
}

.divider-line h4 {
  margin: 10px;
}

.divider-line .fa-sort-down {
  font-size: 80px;
  margin-top: -100px;
  color: black;
}

.top-products-hp {
  width: 80%;
  padding-top: 20px;
  background-color: #fffbef;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-item {
  border: 1px solid gray;
  margin: 2px;
  width: 250px;
  height: auto;
  background-color: #dbdbdb;
}

.product-item .item-image img {
  max-width: 100%;
  height: 300px;
}

.product-item .button-products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.product-item .button-products-item button {
  width: 45%;
  height: 40px;
  background-color: black;
  border: none;
  outline: none;
  color: white;
}

.product-item .product-short-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background-color: #ff8800;
}

.product-item .product-short-info .product-title {
  font-size: 17px;
  font-weight: 400;
}

.product-item .product-short-info .fas {
  font-size: 10px;
  color: yellow;
}

.responsive-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.features-highlights-section {
  margin-top: 50px;
}

.features-highlights {
  width: 100%;
  height: 700px;
  background-image: url("../images/banner/features_highlights.jpeg");
  background-size: cover;
  background-position: bottom;
}

.feature-element-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  margin: 0 auto;
}

.feature-element-icon:hover {
  background-color: #ff8800;
  color: white;
}

.icon-feature-items {
  font-size: 35px;
  margin-top: 30%;
  color: gray;
}

.feature-element {
  margin-top: 50px;
  width: 20%;
  color: white;
  text-align: center;
}

.feature-element p {
  color: white;
  font-weight: 600;
}

.feature-element h3 {
  color: white;
}

.features-elements-container {
  background-color: #444444b2;
  height: 670px;
  width: 100%;
  padding-top: 30px;
}

.features-elements-container h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 25px;
}

.features-elements-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.stylishh1 {
  text-align: center;
  font-weight: 200;
  color: #6b6b6b;
  padding: 20px;
}

.style-products-section {
  width: 100%;
  margin-top: 20px;
}

.style-products-section .style-products {
  width: 96%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.style-products-section .style-products .style-products-item {
  width: 23%;
  position: relative;
}

.style-products-section .style-products .style-products-item img {
  max-width: 100%;
}

.style-products-section .style-products .style-products-item ul {
  position: absolute;
  top: 0;
  margin-top: 40px;
  right: 0;
  list-style: none;
  padding: 5px;
  background-color: white;
  display: none;
}

.style-products-section .style-products .style-products-item ul li {
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.style-products-section .style-products .style-products-item .name-price-like-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.style-products-section .style-products .style-products-item .name-price-like-heart .name-price h4 {
  margin: 3px;
}

.style-products-section .style-products .style-products-item .name-price-like-heart .name-price .price-value-borrow {
  text-decoration: line-through;
  color: #969696;
}

.style-products-section .style-products .style-products-item .name-price-like-heart .fa-heart {
  color: red;
  font-size: 20px;
}

.style-products-section .style-products .style-products-item .stylish-creation-title {
  margin-top: 10px;
  font-weight: 200;
  font-size: 18px;
  color: #7e7e7e;
}

.style-products-section .style-products .style-products-item .style-products-item-top {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: -20px;
}

.style-products-section .style-products .style-products-item .style-products-item-top .feature-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

.style-products-section .style-products .style-products-item .style-products-item-top .feature-round2 {
  width: 80px;
  height: 30px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.style-products-section .style-products .style-products-item .style-products-item-top .round1 {
  background-color: #f56d84;
}

.style-products-section .style-products .style-products-item .style-products-item-top .round2 {
  background-color: black;
  color: white;
}

.bottom-featured-products .responsive-product-list2 {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  margin: 0 auto;
  overflow-x: scroll;
  /* white-space: nowrap; */
}

.bottom-featured-products .product-item02 {
  border: 1px solid gray;
  margin: 5px;
  width: 250px;
  height: auto;
  background-color: #dbdbdb;
}

.bottom-featured-products .product-item02 .item-image img {
  max-width: 100%;
  height: 300px;
}

.bottom-featured-products .product-item02 .button-products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.bottom-featured-products .product-item02 .button-products-item button {
  width: 45%;
  height: 40px;
  background-color: black;
  border: none;
  outline: none;
  color: white;
}

.bottom-featured-products .product-item02 .product-short-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background-color: #ff8800;
}

.bottom-featured-products .product-item02 .product-short-info .product-title {
  font-size: 17px;
  font-weight: 400;
}

.bottom-featured-products .product-item02 .product-short-info .fas {
  font-size: 10px;
  color: yellow;
}

.video-section {
  width: 100%;
}

.latest-news-home-section {
  width: 100%;
}

.latest-news-home-section .latest-news-home {
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-news-home-section .latest-news-home .latest-news-intro {
  width: 22%;
  height: auto;
  border-top: 1px solid gray;
}

.latest-news-home-section .latest-news-home .latest-news-intro .latest-news-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-news-home-section .latest-news-home .latest-news-intro .latest-news-one .latest-news-img {
  width: 40%;
  height: 200px;
}

.latest-news-home-section .latest-news-home .latest-news-intro .latest-news-one .latest-news-img img {
  max-width: 100%;
  max-height: 100%;
}

.latest-news-home-section .latest-news-home .latest-news-intro .latest-news-one .latest-news-text {
  width: 60%;
}

.latest-news-home-section .latest-news-home .latest-news-intro .latest-news-one .latest-news-text p {
  font-size: 15px;
  margin: 0;
  padding: 5px;
}

.latest-news-home-section .latest-news-home button {
  width: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  background-color: black;
  border: none;
  color: white;
  font-size: 15px;
  text-align: center;
}

.payements-option-section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: #fad7f5;
}

.payement-options {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.payement-options .payement-options-responsive1 {
  height: 95px;
  width: 50%;
  background-image: url("../images/icons/payment-option1.png");
  background-size: cover;
}

.payement-options .payement-options-responsive2 {
  height: 95px;
  width: 50%;
  background-image: url("../images/icons/payment-option2.png");
  background-size: cover;
}

.footer-section {
  height: auto;
  padding: 10px;
  background-color: #252424;
  color: white;
}

.footer-section .footer-parent {
  width: 98%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section .footer-parent .footer-part {
  width: 20%;
  height: 300px;
  color: whitesmoke;
  text-align: left;
}

.footer-section .footer-parent .footer-part .footer-headers {
  text-transform: uppercase;
  color: #ff8800;
}

.footer-section .footer-parent .footer-part ul li {
  list-style: none;
  margin: 10px;
  text-align: left;
}

.footer-section .footer-parent .footer-part ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.footer-section .footer-parent .footer-part ul li a:hover {
  color: #ff8800;
}

.footer-section .footer-parent .footer-part .footer-about {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 15px;
}

.footer-section .footer-parent .footer-part .footer-about a {
  text-decoration: none;
  color: #ff8800;
  font-size: 15px;
}

.footer-section .footer-parent .social-icons-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-section .footer-parent .social-icons-footer span {
  font-size: 30px;
}

.footer-section .footer-parent .social-icons-footer .a-facebook-square {
  color: blue;
}

.footer-section .footer-parent .social-icons-footer .fa-instagram-square {
  color: pink;
}

.footer-section .footer-parent .social-icons-footer .fa-twitter-square {
  color: blue;
}

.footer-section .footer-parent .social-icons-footer .fa-pinterest-square {
  color: red;
}

.footer-section .copyright {
  width: 100%;
  height: auto;
  background-color: #ff8800;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shopping-cart-pop {
  height: 100vh;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #16313A;
  overflow-x: hidden;
  padding-top: 20px;
  border-left: 1px solid black;
  display: none;
}

.shopping-cart-title {
  width: 100%;
  height: 50px;
  background-color: #ff8800;
  margin-top: -20px;
  padding: 10px;
  padding-right: 30px;
}

.shopping-cart-title span {
  margin-left: 70px;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.shopping-cart-content {
  width: 100%;
  padding: 3px;
  height: 100vh;
  overflow-y: scroll;
}

.one-shoping-element {
  width: 96%;
  margin: 0 auto;
  border: 1px solid #ff8800;
  height: 100px;
  border-radius: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-bottom: 4px;
}

.one-shoping-element .one-shop-img {
  width: 30%;
}

.one-shoping-element .one-shop-img img {
  max-width: 100%;
  max-height: 100%;
}

.one-shoping-element .one-shop-title-price {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.one-shoping-element .one-shop-title-price h3 {
  margin: 0;
  font-weight: 100px;
}

.one-shoping-element .one-shop-remove-numb {
  width: 10%;
}

.one-shoping-element .one-shop-remove-numb .numb-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  font-size: 18px;
}

.total {
  background-color: white;
}

.total table {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: #ff8800;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */